<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{current_rubric.name}}</title>
</head>
<body>
<h1>Объявления</h1>
<h2>Рубрика {{current_rubric.name}}</h2>
<div>
    <a href="{% url 'index' %}">Главная</a>
    {% for rubric in rubrics %}
    <a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
    {% endfor %}
</div>
{% for ss in sss %}
<div>
    <h2>{{ss.title}}</h2>
    <p>{{ss.content}}</p>
    <p>{{ss.published|date:"d.m.Y H:i:s"}}</p>
</div>
{% endfor %}
</body>
</html>